*{
    font-family: "Roboto";
}
:root{
    --main-red: rgb(249, 104, 104);
    --main-yellow: rgb(255, 241, 85);
}
body{
    text-align: center;
    background-color: #333;
}
#about{
    background-color: var(--main-red);
    max-width: 600px;
    align-items: center;
    display: block;
    height: auto;
    margin: 0 auto;
}
h1{
    color: var(--main-yellow);
}
h2{
    font-weight: 600;
    font-size: 16px;
}
p{
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
}
p img{
    align-items: center;
    display: flex;
    max-width: 100%;
}
sideLeft{
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, rgb(134, 133, 133) 0%, rgb(234, 231, 231) 25%, white 67%);
  border-radius: 80% 80% 100% 100%;
  top: 100%;
  left: 100%;
}

@media (max-width: 75em) {
    html {
      font-size: 60%;
    }
}
  @media (max-width: 61.25em) {
    html {
      font-size: 58%;
    }
}
  @media (max-width: 28.75em) {
    html {
      font-size: 55%;
    }
  }